<div class="mt-3 sr-content">
  <h1>Registrations</h1>
  <% if @date_ranges %>
    <% @date_ranges.each do |date_range| %>
      <p><%= link_to "#{date_range[:prefix]} Registrations", registrations_path(date_range: "#{date_range[:param]}") %></p>
    <% end %>
  <% else %>
    <table class="table">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Grade</th>
        <th scope="col">Uniform Needed?</th>
        <th scope="col">Jersey Size</th>
        <th scope="col">Short Size</th>
      </tr>
      <% @registration_map.each do |name_gender, registrations| %>
      <tr>
        <td colspan=6 class="font-weight-bold bg-light"><%= name_gender %></td>
      </tr>
      <% registrations.each do |registration| %>
      <tr>
        <td title="<%= registration.id %> | <%= registration.charge_identifier %>"><%= registration.player_name %></td>
        <td><%= registration.team_gender %></td>
        <td><%= registration.grade_level_display %></td>
        <td><%= registration.need_uniform %></td>
        <td><%= registration.uniform_jersey_size %></td>
        <td><%= registration.uniform_short_size %></td>
      </tr>
      <% end %>
      <% end %>
    </table>
  <% end %>
</div>
