<div class="mt-3 sr-content">
    <h1>Documents</h1>

    <p><%= link_to 'Registration Letter', registration_letter_path, class: "sr-dropdown-item" %></p>
    <p><%= link_to 'Grievance Document', grievance_document_path, class: "sr-dropdown-item" %></p>
    <p><%= link_to 'Volunteer Code of Conduct', volunteer_code_of_conduct_path, class: "sr-dropdown-item" %></p>
    <p><%= link_to 'Policy for Parents', policy_parents_path, class: "sr-dropdown-item" %></p>
    <p><%= link_to 'Athlete Code of Conduct', athlete_code_of_conduct_path, class: "sr-dropdown-item" %></p>
</div>
