<nav class="navbar navbar-expand-sm navbar-dark bg-black">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-3">
        <%= link_to 'Home' , root_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item px-3">
        <%= link_to 'About Us' , about_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item px-3">
        <%= link_to 'Registrations' , registrations_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item dropdown px-3">
        <%= link_to 'Documents' , documents_path, "class"=> "nav-link dropdown-toggle text-white",
        "data-toggle" => "dropdown",
        "role" => "button",
        "aria-haspopup" => "true",
        "aria-expanded" => "false" %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Waiver' , waivers_path, class: "dropdown-item" %>
          <%= link_to 'Registration Letter' , registration_letter_path, class: "dropdown-item" %>
          <%= link_to 'Grievance Document' , grievance_document_path, class: "dropdown-item" %>
          <%= link_to 'Volunteer Code of Conduct' , volunteer_code_of_conduct_path, class: "dropdown-item" %>
          <%= link_to 'Policy for Parents' , policy_parents_path, class: "dropdown-item" %>
          <%= link_to 'Athlete Code of Conduct' , athlete_code_of_conduct_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item px-3">
        <%= link_to 'Mailing List' , mailing_list_path, class: "nav-link text-white" %>
      </li>
    </ul>
  </div>
</nav>
