<nav class="sr-site-header">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <%= link_to 'Home', root_path, class: "sr-nav-link d-none d-md-inline-block" %>
    <%= link_to 'About Us', about_path, class: "sr-nav-link d-none d-md-inline-block" %>
    <%= link_to 'Teams', teams_path, class: "sr-nav-link d-none d-md-inline-block" %>
    <li class="nav-item sr-nav-item dropdown">
      <%= link_to 'Documents', documents_path, "class" => "sr-nav-link-with-sub", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false" %>
      <div class="sr-dropdown-menu dropdown-menu">
        <%= link_to 'Registration Letter', registration_letter_path, class: "sr-dropdown-item" %>
        <%= link_to 'Grievance Document', grievance_document_path, class: "sr-dropdown-item" %>
        <%= link_to 'Volunteer Code of Conduct', volunteer_code_of_conduct_path, class: "sr-dropdown-item" %>
        <%= link_to 'Policy for Parents', policy_parents_path, class: "sr-dropdown-item" %>
        <%= link_to 'Athlete Code of Conduct', athlete_code_of_conduct_path, class: "sr-dropdown-item" %>
      </div>
    </li>
    <%= link_to 'Mailing List', mailing_list_path, class: "sr-nav-link d-none d-md-inline-block" %>
    <!-- <li class="nav-item sr-nav-item dropdown">
      <%= link_to 'Admin', '#', "class" => "sr-nav-link-with-sub", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false" %>
      <div class="sr-dropdown-menu dropdown-menu">
        <a class="sr-dropdown sr-dropdown-item" href="#">Registrations</a>
        <a class="sr-dropdown-item" href="#">Uniforms</a>
        <a class="sr-dropdown sr-dropdown-item" href="#">Request Gym Space</a>
      </div>
    </li> -->
  </div>
</nav>
