<!DOCTYPE html>
<html>

<head>
  <title>Eau Claire Shamrocks - Home of the Eau Claire Shamrocks basketball club</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'stylesheets' %>
  <%= yield :javascript_custom_script_pre %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <%= render "layouts/header" %>
  <%= render "layouts/navigation" %>
  <%= render "layouts/flash" %>
  <div class="container sr-main-width pt-3">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>

  <%= yield :javascript_custom_script_post %>
</body>

</html>
